.navbar {
  background: rgb(78, 78, 78);
  padding: 10px;
  text-align: center;
  font-size: 21px;
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  color: bisque;
  margin: 20px;
}

.form-container {
  width: 300px;
  margin: auto;
  
}

.flex {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 5px;
}

label {
  text-transform: capitalize;
  margin-right: 10px;
  display: inline-block;
  width: 100px;
}

input[type='text'] {
  width: 200px;
  height: 25px;
}

.radio {
  display: none;
}
.radioGroup {
  position: relative;
  padding: 5px;
}

.radioLabel {
  padding-left: 25px;
}

.radioLabel::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  border: 3px solid rgb(117, 151, 117);
}

.radio:checked~label::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  top: 10px;
  background-color: rgb(117, 151, 117);
}

table {
  width: 300px;
  margin: auto;
  border-collapse: collapse;
}

caption {
  font-size: 21px;
  margin-bottom: 10px;
  color: rgb(117, 151, 117);
  font-weight: bold;
  text-transform: uppercase;
}

th {
  border: 1px solid rgb(117, 151, 117);
  padding: 10px 30px;
  background-color: rgb(250, 212, 165);
}

td {
  border: 1px solid rgb(117, 151, 117);
  background-color: bisque;
  padding: 5px;
}